.list-leagues {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #EEEEEE;
    padding: 1em;
    margin: 0 4em;
    border-radius: 20px 0 20px 0;
}

.list-leagues h3 {
    padding: 0.5em 1em;
    margin: 0.5em 0;
    background-color: #607D8B;
    color: white;
    border-radius: 10px;
}

.list-leagues ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}

.list-leagues li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-leagues button {
    margin: 0.5em;
    height: 4em;
    width: 70%;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.list-leagues button:hover {
    color: white;
    background-color: #607D8B;
}

.add-league {
    margin-top: 1em;
}

.list-leagues div {
    display: flex;
    justify-content: center;
    width: 100%;
}