.league-detail {
    background-color: #EEEEEE;
    margin: 0 15%;
    padding: 1em 2em;
    border-radius: 0 0 20px 20px;
}

.league-detail h4 {
    text-align: start;
    margin: 10px;
}

.league-detail-div h3 {
    text-align: center;
    background-color: #607D8B;
    color: white;
    margin: 0 15%;
    padding: 0.5em;
    border-radius: 20px 20px 0 0;
}

.league-detail-div .league-detail h3 {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0.2em;
    border-radius: 10px;
}

.league-detail-div .league-detail div {
    background-color: white;
    margin: 0 1em 1em;
    border-radius: 10px;
    border: dashed gold 3px;
}

.league-detail ul {
    margin: 0;
}

.add-player form {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.league-detail-div .add-player-div .add-player form button {
    margin:1em 0 0 0;
    padding: 0;
    height: 2.5em;
    border: none;
    border-radius: 20px;
    width: 6em;
    background-color: white;
    font-size: 1em;
    font-weight: bold;
}

.league-detail-div .add-player-div .add-player form button:hover {
    color: white;
    background-color: #607D8B;
}

.league-detail-div .add-player-div .add-player form input {
    background-color: white;
    margin: 0;
    width: 10em;
    border-radius: 5px;
}

.add-player-div {
    background-color: #DDDDDD;
    padding: 1em;
    margin: 2em 15%;
    border-radius: 20px;
}

.league-detail-div h2 {
    text-align: center;
}

.league-detail-div .add-player-div h4 {
    color: white;
    background-color: #607D8B;
    padding: 0.5em;
    margin: 0 20% 1em;
    border-radius: 10px;
    text-align: center;
}

.add-player-div h4 {
    margin-top: 0;
    color: white;
}

.current-user {
    font-weight: bold;
}