.user-entry {
    background-color: #DDDDDD;
    border-radius: 15px;
    margin: 0;
    text-align: left;
}

.user-entry h4 {
    margin: 0;
}

.user-entry .header {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #607D8B;
}

.user-entry div {
    margin: 0 1em 0 1em;
}

.user-entry form {
    display: flex;
    flex-flow: column;
    text-align: left;
    font-size: small;
    padding: 1em 0 1.5em 0;
}

.user-entry-form-button {
    height: 4em;
    width: 8em;
    padding: 5px 0 5px 0;
    margin: 8px 0 0 auto;
    border: none;
    border-radius: 0;
    color: #405061;
}

.user-entry-form-button:hover {
    background-color: #607D8B;
}

#input {
    height: 2em;
    padding: 3px;
    margin: 10px 2px 15px;
    border: 0;
    border-bottom: solid #607D8B 2px;
    outline: 0;
    background-color: #EEEEEE;
}

#input:hover {
    border-bottom: #ff8722 solid 2px;
}

#input:focus {
    border-bottom: #2273e3 solid 2px;
}