button {
    padding: 0.5rem;
    text-decoration: none;
    margin: 30px 10px 10px 10px;
    display: inline-block;
    background-color: #e8e8e8;
    border: 3px solid #607D8B;
    color: #607D8B;
    border-radius: 4px;
    min-width: min-content;
}

button:hover {
    color: white;
    background-color: #607D8B;
}

button:active {
    background-color: black;
}

.nav-buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 1em;
}