.submit-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.submit-div button {
    margin: 0;
    padding: 0;
    height: 120px;
    width: 6em;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: bold;
    border: 4px dashed #607D8B;
    transition: width 2s, height 2s, transform 2s;
}

.submit-div button:hover {
    border-color: white;
    transform: rotate(720deg);
}