.add-league {
    display: flex;
    flex-flow: column;
}

.add-league-button {
    margin: 0 25%;
    padding: 0;
    height: 4em;
    border: none;
    border-radius: 25px;
    background-color: #607D8B;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.add-league-button:hover {
    background-color: #DDDDDD;
    color: #607D8B;
}