.add-league {
    display: flex;
    flex-flow: column;
}

.add-league-button {
    margin: 0 30%;
    padding: 1em;
    height: 4em;
    border: none;
    background-color: #607D8B;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}