.App-header {
  height: 16em;
  background-color: #607D8B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  align-content: end;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

hr {
  margin: 2em 3% 20px 3%;
}
